{{#works}}
  <div>
    <img src="{{ imageUrl }}" alt="{{ title }}" >
    <h2>{{ title }}</h2>
    <h3>{{ author }}</h3>
    <p>{{ description }}</p>
  </div>
{{ else }}
  <p>There were no books that matched your search query :(</p>
{{/works}}
