<!DOCTYPE html>
<html>
  <head>
    <title>Bookends</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= link_to 'Works Index', works_path %>
      <%= link_to 'New Work', new_work_path %>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    <%= javascript_include_tag 'application' %>
    <script>
      System.config({
        baseURL: '/assets/',
        map: {
          'jquery': 'jquery2',
          'handlebars': 'handlebars.runtime'
        },
        meta: {
          'jquery2': {
            format: 'global',
            exports: 'jQuery'
          },
          'jquery_ujs': {
            deps: ['jquery']
          },
          'extensions/handlebars_helpers': {
            format: 'global',
            deps: ['handlebars']
          }
        }
      });

      System.import('application');
    </script>
    <%= yield :javascript %>
  </body>
</html>
